.follow-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

}

.follow-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.user-name {
  font-size: 1.2rem;
  margin: 0;
}

.user {
  opacity: 0.6;
}

.follow-card-avatar {
  border-radius: 50%;
  height: 60px;
  aspect-ratio: 1;

}

.follow-card-info {
  display: flex;
  flex-direction: column;
}

button {
  transition: all 50ms ease;
}

.follow-button {
  background-color: #fff;
  color: #111;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
}

.follow-button:hover{
  cursor: pointer;
  background-color: #00e5ff;
}

.isFollowing-button {
  width: 130px;
}

.isFollowing-button:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  color: red;
}

.button-unfollow {
  display: none;
}

.isFollowing-button:hover .button-unfollow{
  display: block;
}

.isFollowing-button:hover .button-text{
  display: none;
}
