body {
  margin: 0;
  background-color: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 400px;
}