body {
  margin: 0;
  background-color: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

* {
  transition: all 100ms ease-in;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}